$main-dark-color: #2F4550;
$main-light-color: #FCD0A1;
$input-color: #E1E1E1;

.navigation{
    span {
        width: 46px;
        height: 4px;
        background-color: $main-light-color;
        display: block;
        margin: 6px 15px 0 auto;
        z-index: 1;
    }
    span:first-child {
        margin-top: 20px;
    }
}

.navigation-clicked {
    nav {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: $main-dark-color;
        display: grid;
        grid-template-columns: 1fr;
        li {
            list-style: none;
            font-size: 40px;
            margin: 15px auto 0 50px;
            display: inline;
        }
        li:first-child {
            margin-top: 45px;
        }
        li:last-child {
            margin-bottom: 10px;
        }
        li:hover {
            border-bottom: 4px solid $main-light-color;
        }
    }
    span {
        position: absolute;
        top: 30px;
        right: 12px;
        width: 46px;
        height: 6px;
        border-radius: 6px;
        background-color: $main-light-color;
        display: block;
        z-index: 3;
        transform: rotate(45deg);
    }
    span:nth-child(2){
        transform: rotate(-45deg);
    }

    .dark-overlay {
        background: black;
        opacity: .6;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}